/*HEADER*/

header a {
	color: #707070;
	font-size: 20px;
	letter-spacing: 0.2px;
}


/*MAIN*/
.main-foto{
	max-width: 100%;
	object-fit: cover;
}

/*FOOTER*/
footer{
	background-color: #2E2E2E;
}
footer a{
	font-size: 13px;
	letter-spacing: 0.13px;
}
.footer-logo{
	color: #F8F8F8;
	font-size: 20px;
    letter-spacing: 0.2px;
}
 .ul-1 {
	color: #F2F2F2;
}
.ul-2{
	color: #FFFFFF;
}
.contact{
	font-size: 20px;
	letter-spacing: 0.2px;
}
.adress{
	font-size: 19px;
	letter-spacing: 0.19px;
}
.logo{
	max-width: 43.95px;
}